.navbar-brand{
    padding-left: 3%;
    color: whitesmoke;
    font-family: 'Aladin', cursive;
}
navbar{
    background-color: maroon;
}
.navbar-nav{
    margin-left: auto;
    padding-right: 5%;
}
nav{ 
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
}