form {
    background-color: aquamarine;
    background-attachment: fixed;
    background-size: cover;
    border: solid 2px;
    border-radius: 10px;
    padding: 2%;
}
.btn {
    margin-left: 15%;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: violet;
    color: azure;
    width: 70%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}